:root {
    /* General colors */
    --body-bg: rgb(207, 197, 197);
    --input-color: gainsboro;
    --error-color: rgb(248, 53, 53);
    --button-color: rgb(180, 206, 245);
    --hover-shade: rgb(255, 255, 255);
    --accent-color: rgb(87, 28, 34);
    /* ability colors */
    --str-color: rgba(231 62 79/.4);
    --agl-color: rgba(252 141 79/.4);
    --ftg-color: rgba(254 224 139/.4);
    --awe-color: rgba(230 245 152/.4);
    --sta-color: rgba(153 213 148/.4);
    --dex-color: rgba(132 225 230/.4);
    --int-color: rgba(73, 114, 202, 0.4);
    --pre-color: rgba(180 146 224/.4);

}

/* #region Remove the number arrows (not my code) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* #endregion */
body {
    margin: 0;
    background-color: var(--body-bg);
}

/* #region Header & Menu*/
#Header {
    display: flex;
    align-content: center;
    border-bottom: 1px dashed;
    border-top: 4px solid;
    background-color: rgb(183, 164, 252);
}

.menu {
    position: relative;
    margin: 1.5vw;
    width: 6vw;
    aspect-ratio: 1 / 1;
}

#hamburger {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    cursor: pointer;
    width: 6vw;
    aspect-ratio: 1 / 1;
}

#menu {
    max-height: 0%;
    overflow: hidden;
    top: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;

    a {
        position: relative;
        font-size: 4vw;
        background-color: var(--button-color);
        padding: .5vw;
        width: 25vw;
        border: 3px solid black;
        border-top: none;
        text-align: center;
        text-decoration: none;
        transition: background-color .2s;
    }

    a:hover {
        background-color: color-mix(in srgb, var(--button-color)80%, var(--hover-shade));
    }

    :first-child {
        border-top: 3px solid black;
    }
}

#menu.enabled {
    /* top: 100%;
    display: flex;
    flex-direction: column;
    position: absolute; */
    max-height: 100vh;
    transition: max-height 1s linear 0s;
    /* overflow: hidden; */

    /* a{
        position: relative;
        font-size: 4vw;
        background-color: var(--button-color);
        padding: .5vw;
        width: 25vw;
        border: 3px solid black;
        border-top: none;
        text-align: center;
        text-decoration: none;
        transition: background-color .2s;
    }
    
    a:hover{
        background-color: color-mix(in srgb, var(--button-color)80%,  var(--hover-shade));
    }
    :first-child{
        border-top: 3px solid black;
    } */
}

/* #endregion */
/* #region collapsables */
.active, .title:hover {
    background-color: rgb(227, 241, 252);
}

.title {
    background-color: rgb(188, 222, 250);
    padding: 1em;
    border: none;
    width: 100%;
    border-bottom: 1px solid;


    strong {
        font-size: 2em;
        font-weight: 550;
        text-align: center;
        margin-bottom: 0%;
        margin-top: 0;
    }

    p {
        text-align: center;
        font-weight: lighter;
        margin: 0;
        font-style: italic;
    }
}

.info {
    display: none;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    background-color: white;

    p {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

/* #endregion */
/* #region Table rules */

tr:nth-child(even) {
    background-color: rgb(226, 241, 253);
}

td:first-child {
    font-weight: bold;
    padding: 1em;
}

td {
    padding: 1em;
}

th {
    padding: 1em;
    font-size: large;
    border-bottom: 1px solid;
}

table, th, td {
    border-left: 1px solid;
    border-right: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    border: 1px solid;
    width: 90%;

}

/* #endregion */
/* #region list rules */
ul {
    list-style-type: none;
    column-count: 2;
    border: 1px solid;
    width: 90%;
    padding: .5em;
    margin: 0;
}

li {
    padding: .5em;

}

li:nth-child(even) {
    background-color: rgb(226, 241, 253);

}

/* #endregion */
/* #region general text */
h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 3vw;
    padding: 3vw;
    margin: auto;

}

h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em;
    padding: 1em;
    margin: auto;
    border-bottom: 1px dashed;
    width: 100%;
}

.disabled {
    display: none;
}

/* #endregion */


#characterinfo {
    margin: 0;
    padding: 0;


    label {
        font-size: 2.5vw;
        font-weight: bold;
    }

    input[type="number"] {
        width: 3vw;
        text-align: center;
        border: none;
        border-bottom: 1px dashed;
    }

    input[disabled] {
        border: 1px solid;
        border-radius: .25em;
        font-weight: bold;
    }

    input {
        font-size: 2.5vw;
        border: none;
        border-bottom: 1px dashed;
        background-color: var(--input-color);
        padding: auto;

        &[type="text"] {
            border-bottom: 1px solid;
        }

        &.strengthDisplay {
            background-color: var(--str-color);
        }

        &.agilityDisplay {
            background-color: var(--agl-color);
        }

        &.fightingDisplay {
            background-color: var(--ftg-color);
        }

        &.awarenessDisplay {
            background-color: var(--awe-color)
        }

        &.staminaDisplay {
            background-color: var(--sta-color);
        }

        &.dexterityDisplay {
            background-color: var(--dex-color);
        }

        &.intellectDisplay {
            background-color: var(--int-color);
        }

        &.presenceDisplay {
            background-color: var(--pre-color);
        }
    }

    textarea {
        font-size: 2vw;
        border: none;
        border-bottom: 1px solid;
        background-color: var(--input-color);
        resize: none;
        field-sizing: content;
        min-height: 2.5vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .inputgroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid;
        width: fit-content;
        padding: .5em;
        border-radius: 1em;
    }

    .inputmarker {
        position: relative;

        label {
            font-size: 1.2vw;
            position: absolute;
            top: -1.2vw;
            left: 50%;
            transform: translate(-50%);
            font-weight: 300;
            text-align: center;
            text-transform: capitalize;

        }
    }


    .sectionTitle {
        display: inline-flex;
        align-items: baseline;
        grid-column: 1 /span 4;
        margin: 0;
        margin-left: 3vw;

        h1 {
            margin: 0;
            padding-bottom: 0;
            width: fit-content;
            font-size: 2.5em;
            font-style: oblique;
        }

        p {
            text-align: left;
            margin-left: .5em;
            font-size: 1.3em;
            font-style: oblique;
        }
    }
}

/* #region Error handling */
.errorwrapper {
    position: relative;
}

.errorflag {
    display: none;

}

.error, .TDConflict, .TPConflict, .TDPConflict {
    color: var(--error-color);
    cursor: pointer;
}

.error:hover+.errorflag {
    display: block;
    position: absolute;
    font-size: large;
    width: auto;
    padding: 1vw;
    left: 50%;
    top: 110%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    z-index: 999;
    border: 3px var(--error-color) dashed;
    border-radius: 1em;
    box-shadow: 3px 5px black;
    background-color: var(--input-color);
}

/* #endregion */
#basicinfo {
    border: 5px ridge black;
    border-radius: 1em;
    padding: .5vw;
    margin: .5vw;

    #row2 {
        display: flex;
        flex-direction: row;

        #availablePowerPoints {
            width: 2em;
            background-color: var(--input-color);
        }

    }

    #pointtotals {

        display: flex;
        align-items: center;
        border: 1px solid;
        width: 98%;
        padding: .5em;
        border-radius: 1em;

        input {
            width: 4vw;
            font-size: 2vw;
            margin-right: .2vw;
            margin-left: .2vw;
            text-align: center;
        }

        label {
            white-space: nowrap;
        }

        label.small {
            font-size: 1.7vw;
            font-weight: 100;
            white-space: nowrap;
        }

        #spentTotal {
            width: 4vw;
            height: 4vw;
            font-weight: bold;
            text-align: center;
        }
    }
}

#abilities {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: .5vw;
    width: auto;
    border: 5px ridge black;
    border-radius: 1em;
    padding: .5vw;
    margin: .5vw;

    .inputgroup {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2.5vw;
        width: auto;
        margin: 0;

    }

    .inputgroup {
        &:has(input[id="strength"]) {
            background-color: var(--str-color);
        }

        &:has(input[id="agility"]) {
            background-color: var(--agl-color);
        }

        &:has(input[id="fighting"]) {
            background-color: var(--ftg-color);
        }

        &:has(input[id="awareness"]) {
            background-color: var(--awe-color)
        }

        &:has(input[id="stamina"]) {
            background-color: var(--sta-color);
        }

        &:has(input[id="dexterity"]) {
            background-color: var(--dex-color);
        }

        &:has(input[id="intellect"]) {
            background-color: var(--int-color);
        }

        &:has(input[id="presence"]) {
            background-color: var(--pre-color);
        }
    }
}

#combat {
    display: grid;
    grid-template-columns: 7fr 4fr;
    column-gap: .5vw;
    margin: .5vw;
}

#offense {
    display: flex;
    flex-direction: column;
    border: 5px ridge black;
    border-radius: 1em;
    padding-bottom: .5vw;
    width: auto;

    #Initiativeblock {
        display: flex;
        margin-left: 1.5vw;
        width: 70%;
        margin-bottom: 1vw;
    }

    .inputgroup {
        display: grid;
        grid-template-columns: 25% 10% 65%;
        align-self: center;
        width: 95%;
        position: relative;

        input[placeholder="+0"] {
            align-self: center;
            margin-left: 25%;
            margin-right: 0%;
        }

        input[type="text"] {
            font-size: 1.7vw;
            height: 3vw;
        }

    }


}

#defense {
    border: 5px ridge black;
    border-radius: 1em;
    padding-bottom: .5em;
    padding-left: 0;
    position: relative;

    .inputgroup {
        display: grid;
        grid-template-columns: 30% 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
        border: none;
        width: 95%;
        margin-right: .5vw;

    }

    .inputmarker {
        width: 75%;
    }

    .defname {
        padding: 0;
        font-size: 2vw;
        text-align: end;
    }

    #toughnessRank {
        align-self: center;
        border-radius: 100%;
        width: 25%;
        height: 35%;
        padding: 0vw;
        margin-left: 25%;
        background-color: black;
    }

    .TDConflict:hover~#toughnessDodgeError {
        display: block;
        position: absolute;
        font-size: large;
        width: auto;
        padding: 1vw;
        left: 50%;
        top: 110%;
        transform: translate(-50%, 0);
        white-space: nowrap;
        z-index: 999;
        border: 3px var(--error-color) dashed;
        border-radius: 1em;
        box-shadow: 3px 5px black;
        background-color: var(--input-color);
    }

    .TPConflict:hover~#toughnessParryError {
        display: block;
        position: absolute;
        font-size: large;
        width: auto;
        padding: 1vw;
        left: 50%;
        top: 110%;
        transform: translate(-50%, 0);
        white-space: nowrap;
        z-index: 999;
        border: 3px var(--error-color) dashed;
        border-radius: 1em;
        box-shadow: 3px 5px black;
        background-color: var(--input-color);
    }

    .TDPConflict:hover~#tdpError {
        display: block;
        position: absolute;
        font-size: large;
        width: auto;
        padding: 1vw;
        left: 50%;
        top: 110%;
        transform: translate(-50%, 0);
        white-space: nowrap;
        z-index: 999;
        border: 3px var(--error-color) dashed;
        border-radius: 1em;
        box-shadow: 3px 5px black;
        background-color: var(--input-color);
    }
}

#skills {
    width: auto;
    border: 5px ridge black;
    border-radius: 1em;
    padding: .5vw;
    margin: .5vw;
}

#skillList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .skillSplitter:first-child {
        border-right: .1vw solid;
    }

    .skillSplitter:last-child {
        border-left: .1vw solid;
    }

    .skillSplitter {
        margin: 0;
        padding: .4vw;

        div:nth-child(even) {
            background-color: rgb(180, 171, 171);
        }
    }

    .skillinputgroup {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;

        .skillName {
            width: 30%;
            font-size: 2.3vw;
            text-align: start;
            font-weight: 300;
            white-space: nowrap;

            strong {
                font-style: oblique;
                text-decoration: underline 1px;
            }
        }
    }
}

#PowersAndDevices {
    border: 5px ridge black;
    border-radius: 1em;
    padding-bottom: .5vw;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

#powerCreator {
    display: none;
}

#powerCreator.active {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 90vw;
    top: 0vh;
    left: 5vw;
    z-index: 1000;
    color: white;
    overflow-y: auto;

    #powerCreatorHeader {
        display: flex;
        top: 0;
        right: 0;
        width: auto;
        color: white;
        border-bottom: 3px white solid;
        background-color: var(--accent-color);

        .sectionTitle {
            width: 100%;
            padding: 0%;
            margin-left: 1vw;
        }

        #powerCreatorExitButton {
            font-size: 3vw;
            align-self: self-end;
            color: white;
            background-color: transparent;
            border: none;
            padding-right: 1vw;
        }
    }

    #powerinfoWrapper {
        display: flex;
        gap: 5vw;
        padding: 2vw;
        border-bottom: white 3px solid;
    }

    .radiowrapper {
        display: flex;
        flex-direction: column;
        align-content: baseline;
        border-bottom: white dashed 1px;
        padding: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
        align-items: center;

        h4 {
            font-size: 2vw;
            text-align: start;
            margin: 0;
            padding: 0;

        }

        .radiogroup {
            margin: 0vw 3vw;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            input {
                display: none;
            }

            label {
                font-size: 2vw;
                padding: 0vw 1vw;
                height: auto;
                align-self: center;
            }

            input:checked+label {
                text-decoration: underline;
            }
        }
    }

    #attackEffects, #defenseEffects, #controlEffects, #movementEffects, #sensoryEffects, #generalEffects {
        display: none;
    }


}

.effectDescription {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .descriptionHeader {
        display: flex;
        justify-content: space-evenly;
        font-size: 2vw;
        align-items: center;
        background-color: gray;
        height: 4vw;
        width: 100%;
        padding: 0;
        margin: 0;


        p {
            padding: 0;
            width: fit-content;
        }
    }

    p {
        width: 70%;

    }

    
}